body {
    
    background-size: cover;       /* ocupa toda la pantalla */
    background-position: center;  /* centra la imagen */
    background-repeat: no-repeat; /* no se repite */
    background-attachment: fixed; /* queda fijo al hacer scroll */
}

/* ---- header es lo mismo del index ----- */


.col4 {
    display: flex;
    align-items: center;
}

.link-volver {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.link-volver:hover {
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;

}

.email {
    cursor: pointer;
}

/* --- titulo del mdoelado ------ */

.titulo-kobu {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 850;
    color: #4E148C;
}

.descripcion {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    max-width: 800px;
    margin: 10px auto 0 auto;
    /* más espacio abajo */
    color: #333;
    line-height: 1.6;
    padding: 5% 0% 5% 0%;
    /* arriba derecha abajo izquierda */
}


/* ----- TRABAJO ----- */

.trabajo {
    margin-top: 200px;
    /* carrusel y texto*/
}

/* TITULO  */
.titulo-trabajo {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* --badges -- */

.badges-tecnologias {
    margin-bottom: 15px;
    margin: 0% auto 0 auto;
    /* arriba derecha abajo izquierda */
}

.badges-tecnologias .badge {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding: 7px 14px;
    border-radius: 20px;
    margin: 4px;

    background-color: transparent;
    border: 1px solid #613DC1;
    color: #613DC1;

    transition: all 0.2s ease;
}

/* efecto hover sutil */
.badges-tecnologias .badge:hover {
    background-color: #97DFFC;
    color: #613DC1;

}

/* --- CarruseL - */

.carrusel-custom {
    max-width: 700px;
    margin: -100px auto 0 auto;
    text-align: center;
}


/* imagenes */
.carousel-item img {
    border-radius: 12px;
}

.video-container {
    max-width: 700px;  /* igual que el carrusel */
    margin: 15px auto;
}

.descripcion-trabajo {
    max-width: 700px;
    margin: 0% auto 0% auto;
    font-size: 15px;
}

/* --- RESPONSIVE ---- */

@media (max-width: 768px) {
    .arriba {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    .titulo-modelado {
        font-size: 28px;
    }

    .descripcion {
        font-size: 14px;
        padding: 0 15px;
    }

    .carrusel-custom {
        max-width: 100%;
    }
}